/* Base Styles  */
body {
    margin: 0; 
    padding: 0; 
    color: #005051; 

}
main {
    margin: 0 auto;  
}

li {
    list-style-type: none;
}

input[type='text'] {
    padding: 2rem 0;
    font-size: 1rem; 
    text-align: center; /*Sets cursor in middle of box*/
    margin-right: 2%;
    width: 25%; 
    border-radius: .5rem; 
}

input:focus {
    outline: none; 
    box-shadow: 0 0 10px #dcc6e0;
}

input:last-child {
    margin-right: 0;  

}

canvas {
    height: 100%; 
    position: fixed; 
    width: 100%; 
}


/* Class Styles */
.newGame {
    background-color: #efefef; 
    padding: .4rem .6rem; 
    text-decoration: none; 
    display: block; 
    color: #885192;
    text-align: right; 
    text-transform: uppercase; 
}

.intro {
    text-align: center; 
    font-size: 1.2rem; 
    font-weight: 400; 
}

.hints {
    /* display: flex;  */
    padding-left: 0; 
}

.hintLi {
    background-color: #dcc6e0;
    padding: .5rem; 
    margin: 1rem; 
    border-radius: 5px; 
    flex: 1 0; 
    font-size: 1.2rem; 
    text-align: center; 
}

.hintLi:nth-child(even) {
   background-color: #fffacd; 
}

.hintSpan {
    font-size: 1.8rem; 
    font-weight: 800;
    display: block; 
    text-align: center; 
}

.buttons {
    display: flex; 
    justify-content: center; 
    margin: 1rem 0 2rem 0;
}

.input {
    display: flex; 
    justify-content: center; 
    
}

.guesses li {
    font-size: 1.2rem; 
}

#emphasizeItem {
    font-size: 1.7rem; 
}

/* ID Styles */

#guess, 
#giveUp {
    padding: 1rem; 
    font-size: 1.5rem; 
    color: #005051; 
    transition: .3s all; 
    border: none; 
    border-radius: .5rem; 
    margin: 0 .5rem; 
}

#guess:hover, 
#giveUp:hover,
#guess:focus, 
#giveUp:focus {
    color: white; 
    background-color: #005051;
    outline: none; 
}

/* Media Queries */
@media (min-width: 768px) {
    main {
        width: 80%; 
    }

    input[type="text"] {
        width: 20% 
    }

    .hints {
        display: flex; 
    }

    .hintLi {
        padding: 2rem 1rem; 
    }
}