/* Base Styles  */
body {
   
    color: #005051; 

}
main {
    margin: 0 auto;  
    /* background: grey;  */
}

li {
    list-style-type: none;
}

input[type='text'] {
    padding: 2rem 0;
    font-size: 1rem; 
    text-align: center; /*Sets cursor in middle of box*/
    margin-right: 2%;
    width: 25%; 
    border-radius: .5rem; 
}

input:focus {
    outline: none; 
    box-shadow: 0 0 10px #dcc6e0;
}

input:last-child {
    margin-right: 0;  

}


/* Class Styles */
.intro {
    text-align: center; 
    font-size: 1.2rem; 
    padding-top: 1rem; 
    font-weight: 400; 
}

.hints {
    /* display: flex;  */
    padding-left: 0; 
}

.hintLi {
    background-color: #dcc6e0;
    padding: .5rem; 
    margin: 1rem; 
    border-radius: 5px; 
    flex: 1 0; 
    font-size: 1.2rem; 
}

.hintLi:nth-child(even) {
   background-color: #fffacd; 
}

.hintSpan {
    font-size: 1.8rem; 
    font-weight: 800;
    display: block; 
    text-align: center; 
}

.buttons {
    display: flex; 
    justify-content: center; 
    margin-top: 1rem;
}

.input {
    display: flex; 
    justify-content: center; 
    
}

/* ID Styles */

#guess, 
#giveUp {
    padding: 1rem; 
    font-size: 1.5rem; 
    color: #005051; 
    transition: .3s all; 
    border: none; 
    border-radius: .5rem; 
    margin: 0 .5rem; 
}

#guess:hover, 
#giveUp:hover {
    color: white; 
    background-color: #005051;
}

#guess:focus, 
#giveUp:focus {
    outline: none; 
}

/* Media Queries */
@media (min-width: 768px) {
    main {
        width: 80%; 
    }

    input[type="text"] {
        width: 20% 
    }

    .hints {
        display: flex; 
    }

    .hintLi {
        padding: 2rem; 
    }
}